@import "../config";

.switch {
  position: relative;
  width: 50px;
  height: 30px;
  border: 0;
  border-radius: 25px;
  border: $switch-border;
  background-color: $switch-bg;

  &.checked {
    background-color: $switch-checked-bg;
    border-color: $switch-checked-bg;
  }
}

.slider {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $switch-slider-bg;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;
}

.switch.checked {
  .slider {
    left: calc(100% - 20px);
  }
}
