@import "../config";

.checkBox {
  padding: 10px;
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
}

.box {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: $check-box-bg;
  color: $check-box-bg;
  line-height: 26px;
  font-size: 12px;
  transition: all 150ms;
}

.checked {
  .box {
    color: $check-box-checked-color;
    background-color: $check-box-checked-bg;
  }
}
