@import "../config";

.container {
  position: relative;
}

.select {
  position: relative;
  border: $select-border;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: left;
  background-color: $select-bg;
}

.icon {
  position: absolute;
  right: 20px;
  top: 12px;
  color: $select-dropdown-icon-color;
}

.optionsContainer {
  position: absolute;
  border-radius: 5px;
  border: $select-border;
  box-shadow: $select-dropdown-shadow;
  background-color: $select-bg;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 200px;
}

.option {
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  background-color: transparent;
  padding: 10px;

  &:hover {
    background-color: $select-option-hover-bg;
  }
}
