$input-radius: 10px !default;
$input-border: 1px solid #cbd5e0 !default;
$input-shadow: 0 2.5px 10px #e2e8f0 !default;
$input-font-size: 14px !default;

$button-primary-color: #7b341e !default;
$button-primary-bg: #ed8936 !default;
$button-border: 0 !default;
$button-border-radius: 10px !default;
